extends layout 

block content 
  h1= page 

  p Lookit the list of all the films below. Click the poster to see more!

  ul.film-list 
    each film in filmList 
      li.film-item 
        if film.image.contentType === ""
          a(href=film.url title=film.name)
            img.no-poster(src="/images/camera-outline.png" alt=film.name + " poster not uploaded")
          p No poster uploaded for 
            a(href=film.url) #{film.name}
        else 
          a(href=film.url title=film.name)
            img(src=film.poster, alt=film.name + " image")
        p Price: #{film.pricePounds}
        p Quantity in stock: #{film.quantity}
      .separator

    
    else 
      p There are no films
