extends layout 

block content 
  h1= page 

  form.film-submit(action="" method="post" enctype="multipart/form-data") 
    label(for="name") Name: 
    input.film-name(type="text" name="name" placeholder="Goodfellas" value=(undefined===film ? "" : film.name))
    label(for="description") Description: 
    textarea.film-description(name="description" placeholder="This biographical crime film...") #{undefined===film ? "" : film.description}
    label(for="image") Upload a poster: 
    input(type="file" name="image")
    label(for="year") Release year: 
    input.film-number(type="number" name="year" value=(undefined===film ? 2021 : film.year))
    label(for="price") Price in pence: 
    input.film-number(type="number" name="price" value=(undefined===film ? 499 : film.price)) 
    label(for="quantity") Quantity: 
    input.film-number(type="number" name="quantity" value=(undefined===film ? 1 : film.quantity)) 
    label Genre: 
    div.genre-select 
      for genre in genres 
        input.film-genre(type="checkbox" name="genre" id=genre._id  value=genre._id checked=genre.checked)
        label(for="genre._id") #{genre.name}
    button(type="submit") Submit 

  .film-links 
    a(href="/films") All Films 

  if errors 
    ul 
      for error in errors 
        li.error!= error.msg      