extends layout 

block content 
  h1 Genre: #{page}

  .genre-description 
    p= genre.escapedDescription
  
  .film-list 
    h4 Films 
    ul.genre-film-list
      each film in films 
        li.film-item 
          if film.image.contentType === ""
            a(href=film.url title=film.escapedName)
              img.no-poster(src="/images/camera-outline.png" alt=film.escapedName + " poster not uploaded")
            p No poster uploaded for 
              a(href=film.url) #{film.escapedName}
          else 
            a(href=film.url title=film.escapedName)
              img(src=film.poster, alt=film.escapedName + " image")
        .separator
      
      else 
        p Genre has no films.
  
  .genre-links 
    a(href='/genres') All Genres
    a(href=genre.url + '/update') Update Genre Info
    a(href=genre.url + '/delete') Delete Genre 

