extends layout 

block content 
  h1 Genre: #{page}

  .genre-description 
    p= genre.description
  
  .film-list 
    h4 Films 
    ul
      each film in films 
        li.film-item 
          img(src="", alt=film.name + " image")
          p
            a(href=film.url) #{film.name} 
      
      else 
        p Genre has no films.
  
  .edit-genre 
    a(href=genre.url + '/update') Update Genre Info
    a(href=genre.url + '/delete') Delete Genre 

